$border-standard: 1px; //also update in sodoku.tsx
$border-thicc: 2px; //also update in sodoku.tsx
$border-color: black;
$border-style: solid;

.container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sodoku {
    display: flex;
    flex-wrap: wrap;
    border: $border-thicc $border-style $border-color;
  }

  .input-row {
    margin-top: 30px;
    display: flex;
  }
}
