@import "../Sodoku/Sodoku.scss";

.cell {
  width: $cellSize;
  height: $cellSize;

  background-color: white;
  border: $border-standard $border-style $border-color;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.border-top {
  border-top: $border-thicc $border-style $border-color;
}

.border-right {
  border-right: $border-thicc $border-style $border-color;
}

.border-bottom {
  border-bottom: $border-thicc $border-style $border-color;
}

.border-left {
  border-left: $border-thicc $border-style $border-color;
}

.highlight {
  background-color: rgb(235, 221, 163);
}

.number-initial {
  color: black;
}
.number-added {
  color: #1d6ae5;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
